* {
    border-radius: 0 !important;
    
  }

.c-background {
    /*background: linear-gradient(#000, #000);*/
    background-color: rgb(122, 197, 187);
    height: 100vh;
}

@media only screen and (max-width: 768px) { 
    /* For mobile phones: */
    .score > h1 {
        font-size: 15em !important;
    }
    .c-team {
        margin-top: -50px !important;
    }
  }

.score > h1 {
    font-size: 30em;
}
.theme {
    color: #fff;
}
.c-team {
    margin-top: -100px;
}

.c-title {
    font-size: 1.5em;
}

.c-choose {
    font-size: 0.9em;
}

.score-row {
    padding-top: 20vh;
}

.c-height {
    height: 90vh;
}


.vertical-align {
    display: flex;
    align-items: center;
}

.zindex {
    position: absolute;
    top: 10px; 
    left:2%;
    width: 96%;
    z-index: 3;
}

#background-img {
    width: auto;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; 
    
}

#help-alert {
    display: none;
}

.developedby {
    font-size: 0.7em;
}


/** Intro **/

.intro {
    background-color: red;
}